# Ignore everything
*

# But not these
!.gitignore
!README.md
!.env.example
!install_socrates.bat
!start_socrates.bat
!Dockerfile
!.dockerignore
!requirements.txt

!src/
!src/**
# But pycache:
src/__pycache__

!res/
!res/constants.py

!ui/
!ui/**

!DCE/
!DCE/**

!.github/
!.github/**